@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background-color:#4C256A ;
}
main{
    background-color: white;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin: auto;
    p{
        margin: 5px;
    }
    h1{
        text-align: center;
        margin: 5px;
        padding: 5px;
    }
    #formulário{
        margin: 5px;
        text-align: center;
        width: 400px;
    }
    #Email{
        
    }
    #senha{
        
    }
    #entrar{
        color: white;
        background-color: #4ea5a3;
        border: none;
    }
    #esqueci_senha{
       
    }
}