@charset "UTF-8";
@media screen and (min-width:768px) and (max-width:992px) {/*tablet*/
    body{
        background-image: linear-gradient(#5f2c82, #49a09d)
    }
    section#login {
    width: 80vw;
  }
    section#login > article#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > article#formulario{
        float: right;
        width: 70%;
        
    }
}
@media screen and (min-width:992px) {/*desktop e telas grande*/
    body{
        height: 100vh;
        background-image: linear-gradient(#5f2c82, #49a09d)
    }
    section#login{
    width: 950px;
    article#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    article#formulario{
        float: right;
        width: 50%;
        p{
            font-size: 1.2em;
        }
    }
    }
}